doctype html

html
  head

    title Livre

    link(rel='stylesheet' type='text/css' href='/resources/stylesheets/theme.css')

  body

    script(type='text/javascript' src='/resources/scripts/theme.js')
