doctype html

html
  head

    title Livre

    each theme in themes
      link(rel='stylesheet' type='text/css' href='/themes/' + theme + '/stylesheets/theme.css')

  body

    each theme in themes
      script(type='text/javascript' src='/themes/' + theme + '/scripts/theme.js')
