doctype html

html
  head

    title Livre

    link(rel='stylesheet' type='text/css' href= staticPath + '/stylesheets/theme.css')

  body

    script(type='text/javascript' src= staticPath + '/scripts/theme.js')
